.details-parent {
    font-size: 1.1em;
   /*  text-align: center; */
}

.details-child {
/*     display: inline-block; */
    padding-right: 5px;
    padding-left: 5px;
/*     overflow-wrap: break-word; */
/*     margin-right: 5px;
    margin-left: 5px; */
}

.details-child-last {
   /*  display: inline-block; */
   padding-right: 5px;
   padding-left: 6px;
}


.requestAuthWell{
    padding-left: 19px;
    padding-top: 5px;
    padding-right: 19px;
    padding-bottom: 0;
}

.requestStatusEditIcon{
    margin: 10px;
}

.singleNoteContainerDiv{
    margin: 8px;
}

.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}

.label-authDetails{
    min-width: 150px;
    font-weight: bold;
}

.textData-authDetails{
    min-width: 150px;
}

.hrNoPadding {
    margin:0px; 
    padding:0px;
}

.largerNoteTypeFont{
    font-size: 1.1em;
}