<div class="container-fluid" >
   
  <div class="row">
    <div class="col-lg-12">
      <div class="ui-widget-header" style="padding:0px 0px 8px 0; border:none;" > 
          <!-- <i class="fa fa-search" style="margin:4px 4px 4px 0"></i> -->
          <input #gb type="text" placeholder="Search" style="padding-left:4px;box-shadow: none; border:solid 1px #cccccc; color:black; font-weight:normal; border-radius:2px;" pInputText size="20" >
          <span style="padding-left:20px;"><img *ngIf="showSpinner" src="/assets/img/loading_spinner.gif" alt="Smiley face" height="16px" width="16px"></span>
      </div> 
      <div >
          <p-dataTable  [value]="notes"
                        [globalFilter]="gb" 
                        scrollable="true" 
                        scrollHeight="200px"                                                  
                        styleClass="myTable"
                        #dt>    
              <p-column field="noteDate" header="Creation Date" [style]="{'width':'20%'}"> 
                  <ng-template let-row="rowData" pTemplate="body">
                      <span>{{row.noteDate | date: 'MM/dd/yyyy H:mm a'}}</span>
                  </ng-template>              
              </p-column>
              <p-column field="userFullName" header="Created By" [style]="{'width':'10%'}"   ></p-column>  
              <p-column field="noteTypeID" header="Type" [style]="{'width':'15%'}"   >
                  
                  <ng-template let-row="rowData" pTemplate="body">
                      <span>{{getNoteTypeNameById(row.noteTypeID)}}</span>
                  </ng-template>  
              </p-column>
              <p-column field="note" header="Note" [style]="{'width':'55%'}" >
                  <ng-template let-row="rowData" pTemplate type="body">                
                    
                    <div style="width:100%;" (mouseenter)="selectNote($event, row.note, op)" (mouseout)="op.hide($event)" > 
                        {{ (row.note.length>20)? (row.note | slice:0:80)+'...':(row.note) }}
                    </div>                                        
                  </ng-template>
              </p-column>                     
            </p-dataTable>
            <p-overlayPanel [style]="{'width':'500px'}" appendTo="body"  #op>
                {{selectedNote}}
            </p-overlayPanel>     
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <div style="margin-top:40px; margin-bottom:8px;">         
          <select (change)="selectTypeID($event.target)">
            <option [value]="type.noteTypeID"  *ngFor="let type of noteTypes">{{type.noteType}}</option>              
          </select>         
      </div>
    </div>
    <div class="col-lg-10"></div>
  </div>
  <div class="row">
    <div class="col-lg-12">
        <textarea [rows]="4" [cols]="100" [(ngModel)]="currentNote" pInputTextarea ></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
        <div style="margin-top:6px; margin-bottom:6px;">
          <button pButton type="button" label="Add" (click)="saveNote()">Add</button>
        </div>
    </div>
    <div class="col-lg-10">
    </div>
  </div>
</div>