<div class="container-fluid" >
  <div class="row">
    <div class="col-lg-12">
      <div class="ui-widget-header" style="padding:0px 0px 8px 0; border:none;" > 
          <!-- <i class="fa fa-search" style="margin:4px 4px 4px 0"></i> -->
          <input #gb type="text" placeholder="Search" style="padding-left:4px;box-shadow: none; border:solid 1px #cccccc; color:black; font-weight:normal; border-radius:2px;" pInputText size="20" >
      </div> 
      <div >
          <p-dataTable  [value]="notes"
                        [globalFilter]="gb" 
                        scrollable="true" 
                        scrollHeight="200px"                                                  
                        styleClass="myTable"
                        #dt>    
              <p-column field="CreatedDate" header="Creation Date" [style]="{'width':'20%'}"> 
                  <ng-template let-row="rowData" pTemplate="body">
                      <span>{{row.CreatedDate | date: 'MM/dd/yyyy H:mm a'}}</span>
                  </ng-template>              
              </p-column>
              <p-column field="CreatedBy" header="Created By" [style]="{'width':'10%'}"   ></p-column>  
              <p-column field="Type" header="Type" [style]="{'width':'10%'}"   ></p-column>
              <p-column field="Note" header="Note" [style]="{'width':'55%'}" >
                  <ng-template let-row="rowData" pTemplate type="body">                
                    
                    <div style="width:100%;" (mouseenter)="selectNote($event, row.Note, op)" (mouseout)="op.hide($event)" > 
                        {{ (row.Note.length>20)? (row.Note | slice:0:80)+'...':(row.Note) }}
                    </div>                                        
                  </ng-template>
              </p-column>                     
            </p-dataTable>
            <p-overlayPanel [style]="{'width':'500px'}" appendTo="body"  #op>
                {{selectedNote}}
            </p-overlayPanel>     
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <div style="margin-top:40px; margin-bottom:8px;">         
          <select [(ngModel)]="selectedType"  >
            <option value="{{type.noteTypeId}}" *ngFor="let type of noteTypes">{{type.noteType}}</option>              
          </select>         
      </div>
    </div>
    <div class="col-lg-10"></div>
  </div>
  <div class="row">
    <div class="col-lg-12">
        <textarea [rows]="4" [cols]="100" [(ngModel)]="currentNote" pInputTextarea ></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
        <div style="margin-top:6px; margin-bottom:6px;">
          <button pButton type="button" label="Add" (click)="saveNote()">Add</button>
        </div>
    </div>
    <div class="col-lg-10">
    </div>
  </div>
</div>