<div id="content">
	<!--	Dialogs:  -->
	<p-dialog [(visible)]="showProductDetailsAddNewDialog" modal="true" resizable="false" height="auto" width="700" responsive="true">
			<p-header style="font-size: 20px; color: #1e5abc; font-weight: normal;">
				<i class="fa fa-info-circle fg-primary"></i> Add New Product Line Details
			</p-header>
			<div class="container-fluid">
				<div class="row ">
					<div class="container-fluid col-xs-12 ">
						<div style="margin-left: 4px;">
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">Auth Created: </span>
								<span class="col-xs-8"><input type="text" width="300" />   </span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">Auth No.: </span>
								<span class="col-xs-8"><input type="text" width="300" /></span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">Specialty: </span>
								<span class="col-xs-8"><input type="text" width="300" /></span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">HCPCS: </span>
								<span class="col-xs-8"><input type="text" width="300" /></span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">Mod: </span>
								<span class="col-xs-8"><input type="text" width="300" /></span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">Description: </span>
								<span class="col-xs-8"><input type="text" width="300" /></span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">Req. Units: </span>
								<span class="col-xs-8"><input type="text" width="300" /></span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">Allowed Units: </span>
								<span class="col-xs-8"><input type="text" width="300" /></span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">U/M: </span>
								<span class="col-xs-8"><input type="text" width="300" /></span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">Start Date: </span>
								<span class="col-xs-8"><input type="text" width="300" /></span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">End Date: </span>
								<span class="col-xs-8"><input type="text" width="300" /></span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">Status: </span>
								<span class="col-xs-8"><input type="text" width="300" /></span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">Pending Reason: </span>
								<span class="col-xs-8"><input type="text" width="300" /></span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">Date Approved: </span>
								<span class="col-xs-8"><input type="text" width="300" /></span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">Date Denied: </span>
								<span class="col-xs-8"><input type="text" width="300" /></span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">Denied Reason: </span>
								<span class="col-xs-8"><input type="text" width="300" /></span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">Date Canceled: </span>
								<span class="col-xs-8"><input type="text" width="300" /></span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">Canceled Reason: </span>
								<span class="col-xs-8"><input type="text" width="300" /></span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">DME Provider Note: </span>
								<span class="col-xs-8"><input type="text" width="300" /></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row ">
					<div class="pull-right">
						<a href="#" onClick="return false;"><i class="fa fa-undo" aria-hidden="true"></i></a>
						<a href="#" onClick="return false;"><i class="fa fa-save" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</p-dialog>



	<p-dialog [(visible)]="showProductDetailsDialog" modal="true" resizable="false" height="auto" width="700" responsive="true">
		<p-header style="font-size: 20px; color: #1e5abc; font-weight: normal;">
			<i class="fa fa-info-circle fg-primary"></i> Product Line Details
		</p-header>
		<div class="container-fluid">
			<div class="row ">
				<div class="container-fluid col-xs-6 ">
					<div style="margin-left: 4px;">
						<div class="row authDetail-labelTextbox">
							<span class="col-xs-4">Auth Created: </span>
							<span class="col-xs-8">{{productLineDetailsData.authCreated  | date: 'MM/dd/yyyy H:mm a'}}</span>
						</div>
						<div class="row authDetail-labelTextbox">
							<span class="col-xs-4">Auth No.: </span>
							<span class="col-xs-8">{{productLineDetailsData.authNo}}</span>
						</div>
						<div class="row authDetail-labelTextbox">
							<span class="col-xs-4">Specialty: </span>
							<span class="col-xs-8">{{productLineDetailsData.specialty}}</span>
						</div>
						<div class="row authDetail-labelTextbox">
							<span class="col-xs-4">HCPCS: </span>
							<span class="col-xs-8">{{productLineDetailsData.hcpc}}</span>
						</div>
						<div class="row authDetail-labelTextbox">
							<span class="col-xs-4">Mod: </span>
							<span class="col-xs-8">{{productLineDetailsData.mod}}</span>
						</div>
						<div class="row authDetail-labelTextbox">
							<span class="col-xs-4">Description: </span>
							<span class="col-xs-8">{{productLineDetailsData.description}}</span>
						</div>
						<div class="row authDetail-labelTextbox">
							<span class="col-xs-4">Req. Units: </span>
							<span class="col-xs-8">{{productLineDetailsData.reqUnits}}</span>
						</div>
						<div class="row authDetail-labelTextbox">
							<span class="col-xs-4">Allowed Units: </span>
							<span class="col-xs-8">{{productLineDetailsData.allowedUnits}}</span>
						</div>
						<div class="row authDetail-labelTextbox">
							<span class="col-xs-4">U/M: </span>
							<span class="col-xs-8">{{productLineDetailsData.um}}</span>
						</div>
						<div class="row authDetail-labelTextbox">
							<span class="col-xs-4">Start Date: </span>
							<span class="col-xs-8">{{productLineDetailsData.startDate  | date: 'MM/dd/yyyy'}}</span>
						</div>
						<div class="row authDetail-labelTextbox">
							<span class="col-xs-4">End Date: </span>
							<span class="col-xs-8">{{productLineDetailsData.endDate | date: 'MM/dd/yyyy'}}</span>
						</div>						
					</div>
				</div>


				<div class="container-fluid col-xs-6 ">
						<div style="margin-left: 4px;">							
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">Status: </span>
								<span class="col-xs-8">{{productLineDetailsData.status}}</span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">Pending Reason: </span>
								<span class="col-xs-8">{{productLineDetailsData.pendingReason}}</span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">Date Approved: </span>
								<span class="col-xs-8">{{productLineDetailsData.dateApproved | date: 'MM/dd/yyyy'}}</span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">Date Denied: </span>
								<span class="col-xs-8">{{productLineDetailsData.dateDenied | date: 'MM/dd/yyyy'}}</span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">Denied Reason: </span>
								<span class="col-xs-8">{{productLineDetailsData.deniedReason}}</span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">Date Canceled: </span>
								<span class="col-xs-8">{{productLineDetailsData.dateCanceled | date: 'MM/dd/yyyy'}}</span>
							</div>
							<div class="row authDetail-labelTextbox">
								<span class="col-xs-4">Canceled Reason: </span>
								<span class="col-xs-8">{{productLineDetailsData.canceledReason}}</span>
							</div>
						</div>
					</div>
			</div>
			<div class="row productLineDetailsLastRow">
				<div class="container-fluid col-xs-12" >
					<div class="row authDetail-labelTextbox">
						<span class="col-xs-3">DME Provider Note: </span>
						<span class="col-xs-9">{{productLineDetailsData.dmeProviderNote}}</span>
					</div>
				</div>
			</div>

			<div class="row ">
				<div class="pull-right">
					<a href="#" onClick="return false;"><i class="fa fa-trash" aria-hidden="true"></i></a>
					<a href="#" onClick="return false;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</p-dialog>

	<p-dialog [(visible)]="showDemographicsDialog" modal="true" resizable="false" height="auto" width="1000" responsive="true">
		<p-header style="font-size: 20px; color: #1e5abc; font-weight: normal;">
			<i class="fa fa-info-circle fg-primary"></i> Demographics
		</p-header>
		<div class="container-fluid">
			<div class="row ">
				<div class="container-fluid col-xs-6 ">
					<div class="row authDetail-labelTextbox">
						<span class="label-authDetails col-xs-12">Physical Address:</span>
					</div>

					<div style="margin-left: 4px;">
						<table class="referralSourceModalTable">
								<tr>
									<td >
										<span>Address 1:</span>
									</td>
									<td >
										<span>{{demographicsData.paAddress1}}</span>
									</td>
								</tr>
								<tr>
										<td >
											<span>Address 2:</span>
										</td>
										<td >
											<span>{{demographicsData.paAddress2}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>City:</span>
										</td>
										<td >
											<span>{{demographicsData.paCity}}</span>
										</td>
										<td >
											<span>State:</span>
										</td>
										<td >
											<span>{{demographicsData.paState}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>County:</span>
										</td>
										<td >
											<span>{{demographicsData.paCounty}}</span>
										</td>
										<td >
											<span>Zip:</span>
										</td>
										<td >
											<span>{{demographicsData.paZip}}</span>
										</td>
								</tr>
								<tr><td>&nbsp;</td></tr>
								<tr>
										<td >
											<span class="label-authDetails">Phone:</span>
										</td>
										<td >
											<span>{{demographicsData.phone}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span class="label-authDetails">Alternate Phone:</span>
										</td>
										<td >
											<span>{{demographicsData.alternatePhone}}</span>
										</td>
								</tr>
							</table>
					</div>
				</div>

				<div class="container-fluid  col-xs-6">
					<div class="row authDetail-labelTextbox">
						<span class="label-authDetails col-xs-12">Mailing Address:</span>
					</div>
					<div style="margin-left: 4px;">
						<table class="referralSourceModalTable">
								<tr>
									<td >
										<span>Address 1:</span>
									</td>
									<td >
										<span>{{demographicsData.maAddress1}}</span>
									</td>
								</tr>
								<tr>
										<td >
											<span>Address 2:</span>
										</td>
										<td >
											<span>{{demographicsData.maAddress2}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>City:</span>
										</td>
										<td >
											<span>{{demographicsData.maCity}}</span>
										</td>
										<td >
											<span>State:</span>
										</td>
										<td >
											<span>{{demographicsData.maState}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>County:</span>
										</td>
										<td >
											<span>{{demographicsData.maCounty}}</span>
										</td>
										<td >
											<span>Zip:</span>
										</td>
										<td >
											<span>{{demographicsData.maZip}}</span>
										</td>
								</tr>
								<tr><td>&nbsp;</td></tr>
								<tr>
										<td >
											<span class="label-authDetails">Alternate Contact:</span>
										</td>
										<td >
											<span>{{demographicsData.alternateContact}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span class="label-authDetails">Alternate Contact Phone:</span>
										</td>
										<td >
											<span>{{demographicsData.alternateContactPhone}}</span>
										</td>
								</tr>
							</table>
					</div>
				</div>
			</div>

			<div class="row ">
				<div class="pull-right">
					<a href="#" onClick="return false;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</p-dialog>

	<p-dialog [(visible)]="showDiagnosisDialog" modal="true" resizable="false" height="auto" width="700" responsive="true">
		<p-header style="font-size: 20px; color: #1e5abc; font-weight: normal;">
			<i class="fa fa-info-circle fg-primary"></i> Diagnosis
		</p-header>
		<div class="container-fluid">
			<div class="row ">
				<div class="container-fluid col-xs-12 ">
					<div style="margin-left: 4px;">
						<table class="referralSourceModalTable">
							<tr>
								<td>
									<span>1st Diagnosis:</span>
								</td>
								<td>
									<span>{{diagnosisData.diag1Code}}</span>
								</td>
								<td>
									<span>{{diagnosisData.diag1Text}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<span>2nd Diagnosis:</span>
								</td>
								<td>
									<span>{{diagnosisData.diag2Code}}</span>
								</td>
								<td>
									<span>{{diagnosisData.diag2Text}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<span>3rd Diagnosis:</span>
								</td>
								<td>
									<span>{{diagnosisData.diag3Code}}</span>
								</td>
								<td>
									<span>{{diagnosisData.diag3Text}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<span>4th Diagnosis:</span>
								</td>
								<td>
									<span>{{diagnosisData.diag4Code}}</span>
								</td>
								<td>
									<span>{{diagnosisData.diag4Text}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<span>5th Diagnosis:</span>
								</td>
								<td>
									<span>{{diagnosisData.diag5Code}}</span>
								</td>
								<td>
									<span>{{diagnosisData.diag5Text}}</span>
								</td>
							</tr>
							<tr>
								<td>
									<span>6th Diagnosis:</span>
								</td>
								<td>
									<span>{{diagnosisData.diag6Code}}</span>
								</td>
								<td>
									<span>{{diagnosisData.diag6Text}}</span>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="row ">
				<div class="pull-right">
					<a href="#" onClick="return false;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</p-dialog>

	<p-dialog [(visible)]="showReferralSourceDialog" modal="true" resizable="false" height="auto" width="700" responsive="true">
		<p-header style="font-size: 20px; color: #1e5abc; font-weight: normal;">
			<i class="fa fa-info-circle fg-primary"></i> Referral Source
		</p-header>
		<div class="container-fluid">
			<div class="row ">
				<div class="container-fluid col-xs-12 ">
					<div style="margin-left: 4px;">
						<table class="referralSourceModalTable">
								<tr>
									<td >
										<span>NPI:</span>
									</td>
									<td >
										<span>{{referralSourceData.npi}}</span>
									</td>
								</tr>
								<tr>
										<td >
											<span>Referral Type:</span>
										</td>
										<td >
											<span>{{referralSourceData.referralType}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>Business Name:</span>
										</td>
										<td >
											<span>{{referralSourceData.businessName}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>Address 1:</span>
										</td>
										<td >
											<span>{{referralSourceData.address1}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>Address 2:</span>
										</td>
										<td >
											<span>{{referralSourceData.Address2}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>City:</span>
										</td>
										<td >
											<span>{{referralSourceData.city}}</span>
										</td>
										<td >
											<span>State:</span>
										</td>
										<td >
											<span>{{referralSourceData.state}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>County:</span>
										</td>
										<td >
											<span>{{referralSourceData.county}}</span>
										</td>
										<td >
											<span>Zip:</span>
										</td>
										<td >
											<span>{{referralSourceData.zip}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>Phone:</span>
										</td>
										<td >
											<span>{{referralSourceData.phone}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>Fax:</span>
										</td>
										<td >
											<span>{{referralSourceData.fax}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>Contact Name:</span>
										</td>
										<td >
											<span>{{referralSourceData.contactName}}</span>
										</td>
								</tr>
							</table>
					</div>
				</div>
			</div>
			<div class="row ">
				<div class="pull-right">
					<a href="#" onClick="return false;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</p-dialog>

	<p-dialog [(visible)]="showOrderingPhysicianDialog" modal="true" resizable="false" height="auto" width="700" responsive="true">
		<p-header style="font-size: 20px; color: #1e5abc; font-weight: normal;">
			<i class="fa fa-info-circle fg-primary"></i> Ordering Physician
		</p-header>
		<div class="container-fluid">
			<div class="row ">

				<div class="container-fluid col-xs-12 ">
					<div style="margin-left: 4px;">
						<table class="referralSourceModalTable">
								<tr>
									<td >
										<span>NPI:</span>
									</td>
									<td >
										<span>{{orderingPhysicianData.npi}}</span>
									</td>
								</tr>
								<tr>
										<td >
											<span>Physician:</span>
										</td>
										<td >
											<span>{{orderingPhysicianData.physician}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>Business Name:</span>
										</td>
										<td >
											<span>{{orderingPhysicianData.businessName}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>Address 1:</span>
										</td>
										<td >
											<span>{{orderingPhysicianData.address1}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>Address 2:</span>
										</td>
										<td >
											<span>{{orderingPhysicianData.Address2}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>City:</span>
										</td>
										<td >
											<span>{{orderingPhysicianData.city}}</span>
										</td>
										<td >
											<span>State:</span>
										</td>
										<td >
											<span>{{orderingPhysicianData.state}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>County:</span>
										</td>
										<td >
											<span>{{orderingPhysicianData.county}}</span>
										</td>
										<td >
											<span>Zip:</span>
										</td>
										<td >
											<span>{{orderingPhysicianData.zip}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>Phone:</span>
										</td>
										<td >
											<span>{{orderingPhysicianData.phone}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>Fax:</span>
										</td>
										<td >
											<span>{{orderingPhysicianData.fax}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>Contact Name:</span>
										</td>
										<td >
											<span>{{orderingPhysicianData.contactName}}</span>
										</td>
								</tr>
							</table>
					</div>
				</div>
			</div>
			<div class="row ">
				<div class="pull-right">
					<a href="#" onClick="return false;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</p-dialog>

	<p-dialog [(visible)]="showDMEProviderDialog" modal="true" resizable="false" height="auto" width="700" responsive="true">
		<p-header style="font-size: 20px; color: #1e5abc; font-weight: normal;">
			<i class="fa fa-info-circle fg-primary"></i> DME Provider
		</p-header>
		<div class="container-fluid">
			<div class="row ">

				<div class="container-fluid col-xs-12 ">
					<div style="margin-left: 4px;">
						<table class="referralSourceModalTable">
								<tr>
									<td >
										<span>NPI:</span>
									</td>
									<td >
										<span>{{dmeProviderData.npi}}</span>
									</td>
								</tr>
								<tr>
										<td >
											<span>Physician:</span>
										</td>
										<td >
											<span>{{dmeProviderData.physician}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>Business Name:</span>
										</td>
										<td >
											<span>{{dmeProviderData.businessName}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>Address 1:</span>
										</td>
										<td >
											<span>{{dmeProviderData.address1}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>Address 2:</span>
										</td>
										<td >
											<span>{{dmeProviderData.Address2}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>City:</span>
										</td>
										<td >
											<span>{{dmeProviderData.city}}</span>
										</td>
										<td >
											<span>State:</span>
										</td>
										<td >
											<span>{{dmeProviderData.state}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>County:</span>
										</td>
										<td >
											<span>{{dmeProviderData.county}}</span>
										</td>
										<td >
											<span>Zip:</span>
										</td>
										<td >
											<span>{{dmeProviderData.zip}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>Phone:</span>
										</td>
										<td >
											<span>{{dmeProviderData.phone}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>Fax:</span>
										</td>
										<td >
											<span>{{dmeProviderData.fax}}</span>
										</td>
								</tr>
								<tr>
										<td >
											<span>Contact Name:</span>
										</td>
										<td >
											<span>{{dmeProviderData.contactName}}</span>
										</td>
								</tr>
							</table>
					</div>
				</div>
			</div>
			<div class="row ">
				<div class="pull-right">
					<a href="#" onClick="return false;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</p-dialog>

	<p-dialog [(visible)]="showMemberHistoryDialog" modal="true" resizable="false" height="auto" width="1200" responsive="true">
		<p-header style="font-size: 20px; color: #1e5abc; font-weight: normal;">
			<i class="fa fa-info-circle fg-primary"></i> Member History
		</p-header>
		<div class="container-fluid">
			<div class="row ">
				<div class="container-fluid col-xs-12 ">
					<div style="margin-left: 4px;">
						<p-dataTable [value]="memberHistoryGridData" sortMode="single" scrollable="true" scrollHeight="240px" 
							selectionMode="single" [(selection)]="selectedProduct" >
							<p-column field="authDate" header="Auth Date" [sortable]="true" [style]="{'width':'90px'}">
								<ng-template let-row="rowData" pTemplate="body">
									{{row.authDate | date: 'MM/dd/yyyy'}}
								</ng-template>
							</p-column>
							<p-column field="authNumber" header="Auth No." [sortable]="true" [style]="{'width':'130px'}" ></p-column>
							<p-column field="dmeProvider" header="DME Provider" [sortable]="true" [style]="{'width':'140px'}"></p-column>
							<p-column field="hcpcs" header="HCPCS" [sortable]="true" [style]="{'width':'110px'}" [filter]="true"  
								filterMatchMode="contains" filterPlaceholder="Contains"></p-column>
							<p-column field="mod" header="Mod" [sortable]="true" [style]="{'width':'50px'}"></p-column>
							<p-column field="description" header="Description" [sortable]="true" [filter]="true" filterMatchMode="contains" filterPlaceholder="Contains" 
								[style]="{'width':'140px'}"></p-column>
							<p-column field="reqUnits" header="Req. Units" [sortable]="true" [style]="{'width':'70px'}"></p-column>
							<p-column field="allowedUnits" header="Allowed Units" [sortable]="true" [style]="{'width':'70px'}"></p-column>
  						<p-column field="um" header="U/M" [sortable]="true" [style]="{'width':'80px'}"></p-column>
							<p-column field="startDate" header="Start Date" [sortable]="true" [style]="{'width':'90px'}">
								<ng-template let-row="rowData" pTemplate="body">
									{{row.startDate | date: 'MM/dd/yyyy'}}
								</ng-template>
							</p-column>
							<p-column field="endDate" header="End Date" [sortable]="true" [style]="{'width':'90px'}">
								<ng-template let-row="rowData" pTemplate="body">
									{{row.endDate | date: 'MM/dd/yyyy'}}
								</ng-template>
							</p-column>
							<p-column field="status" header="Status" [sortable]="true"></p-column>
						</p-dataTable>
					</div>
				</div>
			</div>
		</div>
	</p-dialog>

	<p-dialog [(visible)]="showProductNotesDialog" modal="true" resizable="false" height="auto" width="900" responsive="true">
		<p-header style="font-size: 20px; color: #1e5abc; font-weight: normal;">
			<i class="fa fa-info-circle fg-primary"></i> Product Notes
		</p-header>
		<div class="container-fluid">
			<div class="row ">
				<div class="container-fluid col-xs-12 pre-scrollable">
					<div style="margin-left: 4px;">
							<!-- List of notes: -->
							<div *ngFor='let obj of productNotesGridData'>
								<div class="singleNoteContainerDiv">
									<div class="row authDetail-labelTextbox">
											<span class="label-authDetails" >Note Type:  &nbsp;</span>
											<span class="textData-authDetails largerNoteTypeFont" >{{obj.noteTypeText}}</span>
									</div>
									<div class="row authDetail-labelTextbox">
										<span class="textData-authDetails" >{{obj.creator}} &nbsp; &nbsp; </span>
										<span class="textData-authDetails " >{{obj.createdDate | date: 'MM/dd/yyyy H:mm a'}}</span>
									</div>
									<div class="row authDetail-labelTextbox">
											<div class="textData-authDetails " >{{obj.noteText}}</div>
									</div>
									<hr class="hrNoPadding" />
								</div>
							</div>

							<!-- Add a note: -->
							<div class = "container-fluid well input-group ">
								<div class="row authDetail-labelTextbox ">
									<select [(ngModel)]="productNoteType" (ngModelChange)="updateProductNoteType()" class="form-control form-control-sm" name="productNoteType"  style="width: 150px;">
											<option *ngFor="let obj of productNoteTypeLookup" [value]="obj.key">{{obj.value}}</option>
									</select>
								</div>
								<div class="row authDetail-labelTextbox ">
									<textarea pInputTextarea [(ngModel)]="productNote.noteText" style="width: 800px; height: 100px;"></textarea>
								</div>
								<div class="row ">
										<button pButton type="button" label="Add Note" class="ui-button-primary"></button>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</p-dialog>

	<p-dialog [(visible)]="showAuthNotesDialog" modal="true" resizable="false" height="auto" width="900" responsive="true">
		<p-header style="font-size: 20px; color: #1e5abc; font-weight: normal;">
			<i class="fa fa-info-circle fg-primary"></i> Auth Notes
		</p-header>
		<div class="container-fluid">
			<div class="row ">
				<div class="container-fluid col-xs-12  pre-scrollable">
					<div style="margin-left: 4px;">
						<!-- List of notes: -->
						<div *ngFor='let obj of productNotesGridData'>
							<div class="singleNoteContainerDiv">
								<div class="row authDetail-labelTextbox">
									<span class="label-authDetails">Note Type:  &nbsp;</span>
									<span class="textData-authDetails largerNoteTypeFont">{{obj.noteTypeText}}</span>
								</div>
								<div class="row authDetail-labelTextbox">
									<span class="textData-authDetails">{{obj.creator}} &nbsp; &nbsp; </span>
									<span class="textData-authDetails ">{{obj.createdDate | date: 'MM/dd/yyyy H:mm a'}}</span>
								</div>
								<div class="row authDetail-labelTextbox">
									<div class="textData-authDetails ">{{obj.noteText}}</div>
								</div>
								<hr class="hrNoPadding" />
							</div>
						</div>

						<!-- Add a note: -->
						<div class="container-fluid well input-group ">
							<div class="row authDetail-labelTextbox ">
								<select [(ngModel)]="productNoteType" (ngModelChange)="updateProductNoteType()" class="form-control form-control-sm" name="productNoteType"
								 	style="width: 150px;">
									<option *ngFor="let obj of productNoteTypeLookup" [value]="obj.key">{{obj.value}}</option>
								</select>
							</div>
							<div class="row authDetail-labelTextbox ">
								<textarea pInputTextarea [(ngModel)]="productNote.noteText" style="width: 800px; height: 100px;"></textarea>
							</div>
							<div class="row ">
								<button pButton type="button" label="Add Note" class="ui-button-primary"></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</p-dialog>

	<p-dialog [(visible)]="showSpecialInstructionsDialog" modal="true" resizable="false" height="auto" width="900" responsive="true">
		<p-header style="font-size: 20px; color: #1e5abc; font-weight: normal;">
			<i class="fa fa-info-circle fg-primary"></i> Special Instructions
		</p-header>
		<div class="container-fluid">
			<div class="row ">
				<div class="container-fluid col-xs-12  pre-scrollable">
					<div style="margin-left: 4px;">
						{{specialInstructionsData}}
					</div>
				</div>
			</div>
			<div class="row pull-right">
				<div class="specialInstructionsPencilDiv">
					<a href="#" onClick="return false;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</p-dialog>

	<!-- END DIALOGS -->


	<!-- widgets on page: -->
	<div>
		<sa-widgets-grid>
			<div class="container-fluid">

				<div class="row">
					<article class="col-xs col-sm col-md col-lg-12 col-xl-12">
						<member-details-widget [member]="member" [showVerticle]="false" [showOnRequest]="viewType==2"></member-details-widget>
					</article>
				</div>

				<!-- Member Details widget -->
				<div class="row">
					<article class="col-xs col-sm col-md col-lg-6 col-xl-6">
						<sa-widget  name="requests-widget" color="blueDark" colorbutton editbutton deletebutton sortable>
								<header>
									<span class="widget-icon"><i class="fa fa-list"></i></span>
									<h2>Requests</h2>
								</header>
								<div class="widget-body">
									<p-dataTable scrollable="true" scrollHeight="150px" [value]="RequestData" selectionMode="single" (onRowSelect)="onRowSelect($event)">
										<p-column field="createdOn" header="Date" [sortable]="true" [style]="{'width':'90px'}">
											<ng-template let-col let-date="rowData" pTemplate="body">
												<span>{{date.createdOn | date: 'MM/dd/yyyy'}}</span>
											</ng-template>
										</p-column>
										<p-column field="requestNumber" header="Number" [sortable]="true" [style]="{'width':'130px'}"></p-column>
										<p-column field="providerName" header="DME Provider" [sortable]="true">
										</p-column>
										<p-column field="orderingPhysicianName" header="Ordering Physician" [sortable]="true"></p-column>
										<p-column field="urgencyName" header="Urgency" [sortable]="true"></p-column>
										<p-column field="requestStatusName" header="Status" [sortable]="true"></p-column>
							
										<!-- See for hidden columns issue https://github.com/primefaces/primeng/issues/3356 
										<p-column [field]="Id" [header]="requestID" [style]="{'display' : 'none'}" [hidden]="true"></p-column>
										-->
									</p-dataTable>
								</div>
							</sa-widget>


				</article>

				<article class="col-xs col-sm col-md col-lg-6 col-xl-6">
						<sa-widget name="authorizations-widget" color="blueDark" colorbutton editbutton deletebutton sortable>
								<header>
									<span class="widget-icon"><i class="fa fa-list"></i></span>
									<h2>Authorizations</h2>
								</header>
								<div class="widget-body">
									<p-dataTable [value]="AuthData" selectionMode="single" (onRowSelect)="onRowSelect($event)" scrollable="true" scrollHeight="150px">
										<p-column field="createdOn" header="Date" [sortable]="true" [style]="{'width':'90px'}">
											<ng-template let-col let-date="rowData" pTemplate="body">
												<span>{{date.createdOn | date: 'MM/dd/yyyy'}}</span>
											</ng-template>
										</p-column>
										<p-column field="authorizationNumber" header="Number" [sortable]="true" [style]="{'width':'130px'}"></p-column>
										<p-column field="providerName" header="DME Provider" [sortable]="true"></p-column>
										<p-column field="orderingPhysicianName" header="Ordering Physician" [sortable]="true"></p-column>
										<p-column field="urgencyName" header="Urgency" [sortable]="true"></p-column>
										<p-column field="queueName" header="Queue" [sortable]="true"></p-column>
										<p-column field="authorizationStatusName" header="Status" [sortable]="true"></p-column>
							
										<!-- See for hidden columns issue https://github.com/primefaces/primeng/issues/3356 
										<p-column [field]="Id" [header]="Id" [style]="{'display' : 'none'}" [hidden]="true"></p-column>
										-->
									</p-dataTable>
								</div>
							</sa-widget>
				</article>
			</div>


			<div class="row">
				<!-- Auth widget -->
				<article class="col-xs col-sm col-md col-lg-12 col-xl-12">
					<sa-widget color="blueDark" [colorbutton]="false" [editbutton]="false" [deletebutton]="false" [custombutton]="false">
						<header>
							<span class="widget-icon"> 
							  	<i class="fa fa-list"></i> 
							</span>

							<h2 *ngIf="viewType == 1; else other_heading">Auth Details </h2>
							<ng-template #other_heading>
								<h2>Request Details </h2>
							</ng-template>
						</header>
						<div>
							<div class="widget-body no-padding">
								<!-- widget content -->
								<div class="component-authDetails">
									<!-- top menu  -->
									<div class="container-fluid">
										<p-splitButton label="Document" class="ui-button-secondary" [model]="items" styleClass="ui-button-secondary"></p-splitButton>
										<button pButton type="button" label="Cancel Request" class="ui-button-secondary" *ngIf="viewType == 2"></button>
										<button pButton type="button" label="Queue" class="ui-button-secondary" *ngIf="viewType == 1"></button>
										<button pButton type="button" label="Split Auth" class="ui-button-secondary" *ngIf="viewType == 1"></button>
										<button pButton type="button" label="Member History" (click)="setShowMemberHistoryDialog()" class="ui-button-secondary"></button>
										<hr class="hrNoPadding" />
									</div>

									<!-- sub menu -->
									<div class="container-fluid" style="margin-left: 10px;">
										<ul class="nav nav-pills">
											<li><a (click)="setShowDemographicsDialog()">Demographics</a></li>
											<li><a (click)="setShowDiagnosisDialog()">Diagnosis</a></li>
											<li><a (click)="setShowReferralSourceDialog()">Referral Source</a></li>
											<li><a (click)="setShowOrderingPhysicianDialog()">Ordering Physician</a></li>
											<li><a (click)="setShowDMEProviderDialog()">DME Provider</a></li>
											<li>
												<a (click)="setShowSpecialInstructionsDialog()">Special Instructions<span *ngIf="specialInstructionsData.length > 0">&nbsp;*</span></a>
											</li>
										</ul>
									</div>

									<!-- RequestApproval block -->
									<div class="container-fluid well requestAuthWell">
										<div class="row">
											<div class="col-sm-4 pull-left">
												<table class="authDetailTable">
													<tr>
														<td>
															<span *ngIf="this.viewType == 1; else other_viewType" class="largeLabel-authDetails">Authorization:</span>
															<ng-template #other_viewType>
																<span class="largeLabel-authDetails">Request:</span>
															</ng-template>
														</td>
														<td>
															<span class="largeTextData-authDetails">{{requestApprovalData.authNumber}}&nbsp;&nbsp; <a (click)="setShowAuthNotesDialog()" *ngIf="viewType==1"><i class="fa fa-sticky-note-o" aria-hidden="true"></i></a></span>
														</td>
													</tr>
													<tr>
														<td>
															<span class="label-authDetails">Start Date:</span>
														</td>
														<td>
															<span class="textData-authDetails">{{requestApprovalData.startDate | date: 'MM/dd/yyyy H:mm a'}}</span>

														</td>
													</tr>
													<tr>
														<td>
															<span class="label-authDetails ">Creation Date:</span>
														</td>
														<td>
															<span class="textData-authDetails ">{{requestApprovalData.creationDate | date: 'MM/dd/yyyy H:mm a'}}</span>

														</td>
													</tr>

													<tr>
														<td>
															<span class="label-authDetails">Urgency:</span>
														</td>
														<td>
															<span class="textData-authDetails">{{requestApprovalData.urgency}}</span>
														</td>
													</tr>

												</table>
											</div>

											<div class="col-sm-4 pull-right">
												<div class="row">
													<div class="pull-left">
														<table class="authDetailTable">
															<tr>
																<td>
																	<span class="largeLabel-authDetails">{{requestApprovalData.authStatusType}}:</span>
																</td>
																<td>
																	<span class="largeTextData-authDetails">{{requestApprovalData.authStatus}}</span>
																</td>
															</tr>
															<tr>
																<td>
																	<span class="label-authDetails ">Effective Dates:</span>
																</td>
																<td>
																	<span class="textData-authDetails ">{{requestApprovalData.effectiveDates}}</span>

																</td>
															</tr>
															<tr>
																<td>
																	<span class="label-authDetails ">Ordering Physician:</span>
																</td>
																<td>
																	<span class="textData-authDetails ">{{requestApprovalData.orderingPhysician}}</span>

																</td>
															</tr>

															<tr>
																<td>
																	<span class="label-authDetails ">Referral Source:</span>
																</td>
																<td>
																	<span class="textData-authDetails">{{requestApprovalData.referralSource}}</span>
																</td>
															</tr>

															<tr>
																<td colspan="2">
																	<span class="label-authDetails lineHeight-AuthDetails">Member Ht:</span>
																	<span class="lineHeight-AuthDetails">{{requestApprovalData.memberHt}}</span>
																	<span class="label-authDetails lineHeight-AuthDetails">Wt:</span>
																	<span class="lineHeight-AuthDetails">{{requestApprovalData.memberWt}}</span>
																</td>

															</tr>
														</table>
													</div>

													<div class="requestStatusEditIcon pull-right">
														<a href="#" onClick="return false;"><i class="fa fa-pencil align-baseline" aria-hidden="true"></i></a>
													</div>
												</div>

											</div>

										</div>
										<!-- end row -->



									</div>
								</div>
								<!-- end widget conent: -->
							</div>
						</div>
					</sa-widget>
				</article>
			</div>
			<!-- end row, end widget -->




			

			<!-- DME Product widget -->
			<div class="row">
				<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<sa-widget color="blueDark" [colorbutton]="false" [editbutton]="false" [deletebutton]="false" [custombutton]="false">
						<header>
							<span class="widget-icon"> 
                          <i class="fa fa-list"></i> 
                    </span>
							<h2>DME Product </h2>
						</header>
						<!-- widget div-->
						<div>
							<!-- widget content -->
							<div class="widget-body no-padding">
								<div class="component-authDetails">
									<div class="container-fluid well">
										<!-- DME Product grid -->
										<div>
											<a (click)="setShowProductDetailsAddNewDialog()"><i class="fa fa-plus-circle largerIcon" aria-hidden="true"></i></a>
										</div>
										<div>

												<p-dataTable [value]="ds.dmeProductGridData" (onRowSelect)="RowSelectProduct($event)" sortMode="single" scrollable="true" selectionMode="single"
												[(selection)]="selectedProduct" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,15,20,30]">
								  
								  <!--
											  add field names after we know what they are from the api:
													authorizationDetailID: string,
												  specialty: string,    //?
												  hcpcCodeID: string,
												  mod: string,          //?
												  description: string,  //?
												  requestedUnits: number,
												  allowedUnits: number,
												  um: string,           //?
												  effectiveFromDate: Date,
												  effectiveToDate: Date,
												  authorizationDetailStatusName: string,
												  pendingReasonName: string
								  
								  
								  -->
								  
								  
												<p-column header="Specialty">FIND</p-column>
												<p-column field="hcpcCodeID" header="HCPCS" [style]="{'width':'100px'}"></p-column>
												<p-column header="Mod" [style]="{'width':'50px'}">FIND</p-column>
												<p-column header="Description">FIND</p-column>
												<p-column field="requestedUnits" header="Req Units" [style]="{'width':'70px'}"></p-column>
												<p-column field="allowedUnits" header="Allowed Units" [style]="{'width':'70px'}"></p-column>
								  
												<p-column  header="U/M" [style]="{'width':'80px'}">FIND</p-column>
												<p-column field="effectiveFromDate" header="Start Date" [style]="{'width':'90px'}">
												  <ng-template let-row="rowData" pTemplate="body">
													{{row.effectiveFromDate | date: 'MM/dd/yyyy'}}
												  </ng-template>
												</p-column>
												<p-column field="effectiveToDate" header="End Date" [style]="{'width':'90px'}">
												  <ng-template let-row="rowData" pTemplate="body">
													{{row.effectiveToDate | date: 'MM/dd/yyyy'}}
												  </ng-template>
												</p-column>
												<p-column field="authorizationDetailStatusName" header="Status"></p-column>
												<p-column field="pendingReasonName" header="Pending Reason"></p-column>
												<p-column header="" [style]="{'width':'50px'}" *ngIf="viewType==1">
												  <ng-template let-row="rowData" pTemplate="body">
													<div class="row text-center">
													  <span class="text-center">
														<a (click)="setShowProductNotesDialog($event)"><i class="fa fa-sticky-note-o" aria-hidden="true"></i></a>
													  </span>
													</div>
												  </ng-template>
												</p-column>
											  </p-dataTable>
										<!-- 	<p-dataTable [value]="authDetailsGridData" (onRowSelect)="RowSelectProduct($event)" sortMode="single" scrollable="true" selectionMode="single" [(selection)]="selectedProduct"
											 [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,15,20,30]">
											 	<p-column field="specialty" header="Specialty"></p-column>
												<p-column field="hcpcs" header="HCPCS" [style]="{'width':'100px'}"></p-column>
												<p-column field="mod" header="Mod" [style]="{'width':'50px'}"></p-column>
												<p-column field="description" header="Description"></p-column>
												<p-column field="reqUnits" header="Req Units" [style]="{'width':'70px'}"></p-column>
												<p-column field="allowedUnits" header="Allowed Units" [style]="{'width':'70px'}"></p-column>

												<p-column field="um" header="U/M" [style]="{'width':'80px'}"></p-column>
												<p-column field="startDate" header="Start Date" [style]="{'width':'90px'}">
													<ng-template let-row="rowData" pTemplate="body">
														{{row.startDate | date: 'MM/dd/yyyy'}}
													</ng-template>
												</p-column>
												<p-column field="endDate" header="End Date" [style]="{'width':'90px'}">
													<ng-template let-row="rowData" pTemplate="body">
														{{row.endDate | date: 'MM/dd/yyyy'}}
													</ng-template>
												</p-column>
												<p-column field="status" header="Status"></p-column>
												<p-column field="pendingReason" header="Pending Reason"></p-column>
												<p-column header="" [style]="{'width':'50px'}" *ngIf="viewType==1">
													<ng-template let-row="rowData" pTemplate="body">
														<div class="row text-center">
															<span class="text-center">
																<a (click)="setShowProductNotesDialog($event)"><i class="fa fa-sticky-note-o" aria-hidden="true"></i></a>
															</span>
														</div>
													</ng-template>
												</p-column>
											</p-dataTable> -->
										</div>
									</div>
								</div>
								<!--	end widget conent:  -->
							</div>
							<!-- end widget content -->
						</div>
						<!-- end widget div -->
					</sa-widget>
					<!-- end widget -->
				</article>
				<!-- WIDGET END -->
			</div>
			<!-- end row -->
		</div>
		</sa-widgets-grid>
	</div>
</div>