.main-container {
    padding-left: 10px;
    background-color: #fff
}

.search {
    padding-right: 5px;
}

.radio-container {
    display: block;
}

.alert {
    margin-right: 5px;
}

.alert {
    margin-bottom: 2px;
}